.full_width_admin {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-color: #232229;
  color: #fff;
}

.client__logo {
  margin-top: 1.5rem;

  img{
    width: 120px;
    height: 120px;
    background-color: #0d594c;
    border-radius: 50%;
  }
}

.admin_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  width: 200px;
  height: 90vh;
  background-color: #0d594c;
  border-radius: 40px;

  h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 1.5rem;
  }

  p {
    font-size: 0.9rem;
    margin-bottom: 10px;
    margin-left: 1.5rem;
  }

  .admin_menu_item {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #0d594c;
  }

  a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 10px 10px 10px;
    text-align: center;
    &:hover {
      background: #0a8c7e;
    }
  }
}



.flex {
  display: flex;
  flex-direction: column;
  h2 {
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding: 2rem 0;
  }
}